@import "tailwindcss";
/* @import "./login/loginClient.module.css"; */
@import "../app/login/loginClient.module.css";
@import "../components/CoreInput/CoreInput.module.css";
@import "../components/CoreCard/CoreCard.module.css";
@import "../components/CoreButton/CoreButton.module.css";
@import "../components/CoreLayout/CoreLayout.module.css";
@import "../components/CoreFooter/CoreFooter.module.css";
@import "../components/CoreHeader/CoreHeader.module.css";
@import "../components/CoreNavigation/CoreNavigation.module.css";
@import "../components/MobileNavigation/MobileNavigation.module.css";
@import "../components/CoreCalendar/CalendarWeekly.module.css";
@import "../components/CoreCalendar/CoreCalendar.module.css";
@import "../components/CoreText/CoreText.module.css";
@import "../components/CoreHeading/CoreHeading.module.css";

@import "../components/CoreTable/CoreTable.module.css";
@import "../components/CorePagination/CorePagination.module.css";
@import "../components/CoreTableComponent/coreTableComponent.module.css";
@import "../components/CoreTableComponent/HeaderTableComponent/headerTableComponent.module.css";
@import "../components/CoreSlider/coreSlider.module.css";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }

  :root {
    --color-primary: #1d4ed8;
    --color-secondary: #9333ea;
    --color-accent: #f59e0b;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

.container {
  @apply bg-red-200;
}

.rbc-day-bg {
  border: none !important;
  margin: 1rem;
}

.rbc-date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.rbc-row-bg {
  max-height: 80px;
}
.rbc-row {
  height: 80px;
  padding: 1rem !important;
}
.rbc-month-row {
  max-height: 80px;
  border: none !important;
}

.core-center {
  @apply flex justify-center items-center;
}

@layer utilities {
  .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
