@import "tailwindcss";
@import "./login/loginClient.module.css";
@import "./components/CoreInput/CoreInput.module.css";
@import "./components/CoreCard/CoreCard.module.css";
@import "./components/CoreButton/CoreButton.module.css";
@import "./components/CoreLayout/CoreLayout.module.css";
@import "./components/CoreFooter/CoreFooter.module.css";
@import "./components/CoreHeader/CoreHeader.module.css";
@import "./components/CoreNavigation/CoreNavigation.module.css";
@import "./components/CoreMenu/CoreMenu.module.css";
@import "./components/MobileNavigation/MobileNavigation.module.css";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }

  :root {
    --color-primary: #1d4ed8;
    --color-danger: #ef4444;
    --color-accent: #f59e0b;
  }
}

.rbc-day-bg {
  background-color: lightcyan !important;
  border: none !important;
  margin: 1rem;
  border-radius: 50%;
}

.rbc-date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbc-row {
  height: 80px;
}
.rbc-month-row {
  border: none !important;
}
