.core-root-slider .slick-dots li button::before {
  font-size: 0.8rem;
  padding-top: 1rem;
  color: #333;
}

.core-root-slider .slick-dots {
  padding-bottom: 0.4rem;
}

.core-root-slider .slick-dots li button {
  position: relative;
}

.core-root-slider .slick-slide {
  padding: 0 10px;
}

.core-root-slider .slick-list {
  margin: 0 -10px;
}
